<div class="header">
    <h1 class="logo">WEATHER</h1>
    <div class="nav">
        <p style="font-size:20px;padding-left:40px;padding-top: 15px;"><a routerLink="home">HOME</a></p>
        <p style="font-size:20px;padding-left:40px;padding-top: 15px;"><a routerLink="favourite">FAVOURITE</a></p>
        <p style="font-size:20px;padding-left:40px;padding-top: 15px;"><a routerLink="recent">RECENT SEARCH</a></p> 
        <div class="vert">
        <h1 style="margin-left: auto;margin-right: 20px;">{{date}}-{{month}}-{{year}}</h1>
        <h1 style="margin-left: auto;margin-right: 20px;">{{time}}</h1></div>
    </div>
</div>
<router-outlet></router-outlet>






  




 
          